# Example environment variables for the front-end
# Copy this file to .env and fill in the actual values

VITE_API_URL="ma_cle_api_externe"
VITE_TMDB_API_KEY="ma_cle_api_moviedb"
VITE_OMDB_API_KEY="ma_cle_api_externe"
